.chat-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .chat-grid-container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
  }
  
  .column-a {
    background-color: white;
  }
  
  .column-b {
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  
  .section-b1 {
    background-color: white;
    flex: 1;
    overflow: auto;
    position: relative;
    margin-left: 6%;
  }
  
  .section-b2 {
    background-color: white;
    flex: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
  }
  